
/* this covers the whole background */
body {
  font-family: "Courier New", Courier, monospace;
  font-size: 13px;
  line-height: .5;
  background-color: lightyellow;
} 

/* this is the military time */
#hourLabel {
  color: black;
  margin-left: 12px;
  font-weight: bold;
  font-size: large;
 
}
p {
  margin: 12px;
  margin-bottom: 10px;
}

/* this covers the heading */
.jumbotron {
  text-align: center;
  background-color: lightpink;
  color: lightyellow;
  border-bottom: 20px solid lightslategray;
}


.buttonColor {
  font-size: 50px;
  padding: 10px;
  background-color: lightyellow;
  color: lightpink;
  border-color: transparent;
  font-style: italic;
}

/* this covers user input font color */
.inputText{
  padding: 30px;
  font-size: 50px;
  width: 70vw;
  height: 60px;
  border-top: 1px solid white;;
}
   
/* input text boxes switch colors active, present, and future (default) slots */
.present {
  background-color: lightpink;
  color: black;
}
.past {
  background-color: lightslategray;
  color: black;
}
/* .future {
  background-color: black;
  color: orange;
} */
